*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html, body{
    height: 100%;
    overscroll-behavior: none;
    background-color: hsl(0, 0%, 90%, 1);
}

header{
    padding: 1em;
    color:white;
    justify-content: center;
}
header h1{
    margin: auto;
}
main{
    width: 70%;
    background-image: linear-gradient(to bottom left, hsl(182, 100%, 30%, 0.1), hsl(182, 100%, 70%, 0.1));
    margin: 10em;
    box-shadow: -20px 20px 40px hsl(0, 100%, 0%, 0.7), inset -2px 2px white;
    border-radius: 20px;
}
main section{
    padding: 3em;
}
.control{
    display: flex;
}
#tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}   

#input{
    --color: green;
    --bg-color: hsl(182, 100%, 30%, 0.1);
    box-shadow: inset 0 0 20px 0px lightgray;
    width: 70%;
    font-size: 1.2em;
    padding: 1em;
    border: none;
    outline: 3px solid transparent;
    outline-offset: 0.3em;
    background: conic-gradient(from 90deg at 3px 3px, var(--bg-color) 90deg, var(--color) 0) 10px 10px / calc(100% - 20px) calc(100% - 20px);
    transition: all ease 0.3s;
}
#input:hover{
    background: conic-gradient(from 90deg at 3px 3px, var(--bg-color) 90deg, var(--color) 0) 0px 0px / calc(100% - 3px) calc(100% - 3px); 
    outline-offset: 0;
    outline-color: var(--color);
}
#input:focus{
    --color: rgb(63, 145, 110);
}
#add{
    position: relative;
    --btn-bg-color: hsl(184, 49%, 66%);
    --btn-color: hsl(120, 37%, 36%);
    outline: none;
    cursor: pointer;
    margin-left: auto;
    font-size: 1.4em;
    padding: 1em;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    border: none;     
    transform: rotateX(60deg) rotateZ(336deg);
    transform-style: preserve-3d;
    box-shadow: -30px 70px 20px black;
    transition: all ease 0.5s;
}
#add::before{
    content: "";
    position: absolute;
    top: calc(100% + 15px);
    left: -40px;
    height: 100%;
    width: 30px;
    transform-origin: left;
    background-color: color-mix(in hsl, var(--btn-bg-color), black 10%);
    transform: skewY(-65deg) translateX(10px);
}

#add::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: top;
    height: 70px;
    width: 100%;
    background-color: color-mix(in hsl, var(--btn-bg-color), black 30%);
    transform: skewX(-25deg);
}

#add:hover{
    color: white;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(336deg) 
        translateZ(20px);
    box-shadow: -40px 100px 50px 3px black;
}
#input.red, #add.red{
    --color:red;
    color: red; 
    border-color: red;
}
#add.red:hover{
    color: red;
}
.task{
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: inset -1px 1px hsl(0, 100%, 100%, 1), 
    -10px 20px 40px hsl(0, 0%, 0%, 0.3);
    
    transition: all 0.4s;
}
.task:hover{
   transform: perspective(1000px) rotateY(40deg);
   background-color: white;
}
.task span{
    font-size: 1.3em;
}
@keyframes deleted {
    to {
        transform: perspective(1000px) rotateY(180deg);
    }
}
.grayed{
    animation: deleted 0.5s;
    box-shadow: inset -1px 1px hsl(0, 100%, 100%, 1), 
    -10px 20px 40px hsl(0, 0%, 0%, 0.3); 
    background-color: lightgray;
}
.grayed:hover{
   transform: perspective(1000px) rotateY(40deg);
   background-color: lightgray;
}
.grayed span{
    text-decoration: line-through;
}
.completed{
    transform: perspective(1000px) rotateY(180deg);
    box-shadow: inset -1px 1px hsl(0, 100%, 100%, 1), 
    -10px 20px 40px hsl(0, 0%, 0%, 0.3); 
    background-color: lightgray;
}
.completed:hover{
   transform: perspective(1000px) rotateY(40deg);
   background-color: lightgray;
}
.completed span{
    text-decoration: line-through;
}
h1{
    --h1-bg-color: hsl(0, 0%, 75%, 1);
    --neon: hsl(180, 100%, 60%, 1);
    margin: 10px;
    padding: 0.5em;
    background-color: var(--h1-bg-color);
    max-width: fit-content;
    position: relative;
    box-shadow: 4px 2px 0px var(--neon), 0px 0px 20px white, 0px 20px 30px var(--neon);
}
.glitch{
    position: relative;
}
.glitch::after{
    --clip0: inset(50% 50% 50% 50%);
    --clip1: inset(70% -10px 0 0);
    --clip2: inset(50% -10px 35% 0);
    --clip3: inset(15% -10px 85% 0);
    --clip4: inset(40% -10px 45% 0);
    --clip5: inset(80% -10px 10% 0);
    display: block;
    content: "redacted";
    text-shadow: -3px -3px 0px rgb(255, 175, 64), 3px 3px 0px rgb(130, 8, 245);
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    background-color: var(--h1-bg-color);
    clip-path: var(--clip0);
    animation: glitch 1s steps(2, end);
}
@keyframes glitch {
    0% { clip-path: var(--clip1); transform: translate(-20px, -15px);}
    10% { clip-path: var(--clip4); transform: translate(10px, 5px);}
    20% { clip-path: var(--clip1); transform: translate(10px, -10px);}
    30% { clip-path: var(--clip3); transform: translate(10px, 5px);}
    40% { clip-path: var(--clip2); transform: translate(5px, 0px);}
    50% { clip-path: var(--clip3); transform: translate(-5px, 0px);}
    60% { clip-path: var(--clip4); transform: translate(-15px, 5px);}
    70% { clip-path: var(--clip2); transform: translate(10px, -10px);}
    80% { clip-path: var(--clip5); transform: translate(-20x, 10px);}
    90% { clip-path: var(--clip1); transform: translate(10px, 0);}
    100% { clip-path: inset(--clip0); transform: translate(0, 0);}
}